body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.title{
    margin: 20px;
    text-align: center;
    color: blue;
    background-color: lightgray;
    border-radius: 300px;

}



nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration-line: none;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    background-color: #e749a5a9;
    border-radius: 1px;
    line-height: 203%;
    opacity: 0.8;
}
ul li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
    overflow: hidden;
    a {
        text-decoration: none;
        color: rgb(10, 10, 10);
    }
    a:hover {
        color: rgb(255, 0, 0);
        opacity: 0.75;
        animation:fadeIn 0.5s ease-in-out; 
        
    }
    
}


.welcome-message{
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 10px;
}